/* (Ce site a été pensé en desktop first dans le cadre du projet) */
/* ------------------- BASE -------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
}

h3 {
  margin: 0;
}

/* ------------ UTILITIES --------- */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.big-icon {
  font-size: 25.6px;
}

.hidden {
  display: none;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
text-overflow: ellipsis;
}

.col-25 {
  width: 25%;
}

/* Si l'ecran est inférieur à (768px) on applique ceci = Desktop first*/
@media (max-width: 768px) {
  .col-25 {
    width: 100%;
  }
}

/* ------------------- COLOR VARIABLES -------------------- */
:root {
  --lightgray: #f2f2f2;
  --darkgray: #dddddd;
  --shadow: #b3b3b3;
  --darkblue: #0065fc;
  --lightblue: #deebff;
  --black: #000;
  --white: #fff;
}

/* ------------------- LAYOUT -------------------- */
section,
header {
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  padding: 20px 30px;
}

section, footer {
  padding: 20px 20px;
}

@media (max-width: 768px) {
  section, footer {
    padding: 0;
  }
}

body, header {
  background-color: var(--white);
}

body > footer {
  padding-bottom: 60px;
  background-color: var(--darkgray);
}

.activity-list {
    padding: 20px;
  }

  @media (max-width: 768px) {
    .activity-list {
      padding: 20px 30px;
    }
  }

/* ------------------- NAVBAR -------------------- */
nav.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
}

@media (max-width: 768px) {
  nav.navbar-wrapper {
justify-content: space-around;
  }
}

nav .website-logo  {
  padding-left: 30px;
}

nav .website-logo img {
  display: block;
  object-fit: cover;
}

nav .nav-buttons {
  display: flex;
  width: auto;
}

@media (max-width: 768px) {
  nav .nav-buttons {
    width: 100%;
  }
}

nav .nav-buttons a {
  color: var(--black);
  text-decoration: none;
}

nav .button-one {
  border-bottom: none;
  border-top: 3px transparent solid;
  padding: 40px 30px;
}

@media (max-width: 768px) {
  nav .button-one {
    border-bottom: 3px var(--darkgray) solid;
    border-top: none;
    text-align: center;
    padding: 40px 0 10px 0;
    font-weight: bold;
  }
}

nav .button-one:hover {
  transition: all 0.3s ease-in;
  color: var(--darkblue);
  border-color: var(--darkblue);
}

nav .button-two {
  border-bottom: none;
  border-top: 3px transparent solid;
  padding: 40px 30px;
}

@media (max-width: 768px) {
  nav .button-two {
    border-bottom: 3px #dddddd solid;
    border-top: none;
    text-align: center;
    padding: 40px 0 10px 0;
    font-weight: bold;
  }
}

nav .button-two:hover {
  transition: all 0.3s ease-in;
  color: var(--darkblue);
  border-color: var(--darkblue);
}

/* ------------------- HEADER -------------------- */
header .header-wrapper {
  padding: 20px 30px;
}

/* ------------------- SEARCHBAR -------------------- */
.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  max-height: 100px;
  border-radius: 1.6px;
}

.marker-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border: 10px var(--darkgray) solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--darkgray);
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 128px;
  border-top: var(--darkgray) 1.6px solid;
  border-bottom: var(--darkgray) 1.6px solid;
}

.search-input {
  height: 24px;
  width: 192px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

input[type='search' i] {
  background: transparent;
  border: none;
  width: 80%;
}

::placeholder {
  color: var(--black);
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--darkblue);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button-box {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
  }
}

.search-button {
  padding: 0 20px;
  color: var(--lightgray);
  background-color: var(--darkblue);
  height: 48px;
  border-color: var(--darkblue);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .search-button {
    display: none;
  }
}

.fa-search {
  padding: 0 20px;
  display: none;
}

@media (max-width: 768px) {
  .fa-search {
    display: block;
  }
}

/* ------------------- FILTERS -------------------- */
.filters-wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .filters-wrapper {
    flex-direction: column
  }
}

.filters-wrapper .filter-tag {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 20px 60px 20px 0;
}

.filters-wrapper .filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .filters-wrapper .filters {
    flex-wrap: wrap;
  }
}

.filters-wrapper .filtersbox {
  display: flex;
  align-items: center;

  border: var(--darkgray) 1.6px solid;
  border-left: var(--lightblue);
  border-radius: 48px;
  height: 48px;
  padding: 20px 0;
  white-space: nowrap;
}

.filtersbox:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--lightblue);
  border-color: var(--lightblue);
  transition: all 200ms ease-in;
}

.filters-wrapper .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 48px;
  width: 48px;
  border-radius: 80px;
  background-color: var(--lightblue);
  color: var(--darkblue);
}

.filters-wrapper .filtersbox .textbox {
  padding: 0 20px 0 10px;
  font-weight: bold;
}

/* ------------------- INFO BAR -------------------- */
.info-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.info-wrapper .info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border: var(--darkgray) 1.6px solid;
  height: 28px;
  width: 28px;
  border-radius: 32px;
  color: var(--darkblue);
}

/* ------------------- HOUSING WRAPPER -------------------- */
.housing-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

@media (max-width: 768px) {
  .housing-wrapper {
    flex-wrap: wrap-reverse;
    gap: 0px;
  }
}

@media (max-width: 992px) {
  .housing-wrapper {
    flex-wrap: wrap-reverse;
  }
}

/* ------------------- STARS -------------------- */
.checked-star {
  color: var(--darkblue);
}

.unchecked-star {
  color: var(--darkgray);
  font-weight: 900;
}

/* ------------------- CARDS -------------------- */
.card {
  display: flex;
  flex-direction: column;
  
  background-color: var(--white);
  border: var(--white) 4.8px solid;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--shadow);
}

.card a {
  text-decoration: none;
  color: var(--black);
}

.card:hover {
  cursor: pointer;
  transition: all 200ms ease-in;
  transform: scale(1.02);
  box-shadow: 0px 0px 30px var(--shadow);
}

.card .card-image {
  height: 120px;
}

.card .card-image img {
  object-fit: cover;
  object-position: 100% 50%;
  width: 100%;
  height: 100%;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.card .card-text.bottom {
  padding: 5px 10px;
}

.card.horizontal .card-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card .card-price {
  margin: 0;
  padding: 0 0 10px 0;
}

.card .card-name {
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
}

.card.horizontal {
  flex-direction: row;
  height: 137px;
  width: 100%;
}

.card.horizontal a {
  display: flex;
  text-decoration: none;
  color: var(--black);
}

.card.horizontal .card-image {
  height: 100%;
  width: 120px;
  min-width: 120px;
}

.card.horizontal .card-price {
  flex-grow: 1;
}

.card.grow {
  flex-grow: 0;
  border: none;
}

.card.grow a {
  text-decoration: none;
  color: var(--black);
}

.card.grow .card-image {
  height: 156px;
}

.card.grow .card-text.bottom {
  padding: 5px 10px;
}

.card.grow .card-text {
  padding: 0 10px 5px 10px;
}

.card.tall {
  border: none;
}

.card.tall a {
  text-decoration: none;
  color: var(--black);
}

.card.tall .card-image {
  height: 390px;
}

@media (max-width: 768px) {
  .card.tall .card-image {
    height: 156px;
  }
}

/* ------------------- CONTENT BOX -------------------- */
.content-box.left-block {
  padding: 30px;
  
  background-color: var(--darkgray);
  border: var(--darkgray) 1px solid;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .content-box.left-block {
    padding: 30px;
    background-color: var(--white);
    border: none;
  }
}

.content-box.right-block {
  background-color: var(--darkgray);
  border: var(--darkgray) 1px solid;
  border-radius: 0px;
  padding: 30px;

  border-radius: 30px;
}

@media (max-width: 768px) {
  .content-box.right-block {
border-radius: 0px;
  }
}

.cards-wrapper {
  padding: 20px 0 30px 0;
}

/* ------------------- LEFT BLOCK -------------------- */
.cards-wrapper.left {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* 3 cards per lines */
.cards-wrapper.left .card {
  width: 30%;
}

@media (max-width: 768px) {
  .cards-wrapper.left .card {
    width: 100%;
  }
}

.left-block {
  min-width: 600px;
}

@media (max-width: 768px) {
  .left-block {
    min-width: 100%;
  }
}

.box-title {
  padding-left: 20px;
}

.more a {
  padding-left: 20px;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

.more a:hover {
  text-decoration: underline;
}

/* ------------------- RIGHT BLOCK -------------------- */
.right-block {
  min-width: 350px;
  flex-shrink: 3;
}

@media (max-width: 768px) {
  .right-block {
    min-width: 350px;
  }
}

.right-block-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cards-wrapper.right {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ------------------- BOTTOM BLOCK -------------------- */
.bottom-block-wrapper {
  padding: 20px 0;
  flex-direction: row;
}

@media (max-width: 768px) {
  .bottom-block-wrapper {
    flex-direction: column;
    background-color: var(--white);
  }
}

.bottom-block-wrapper {
  gap: 20px;
}

.w-full {
  gap: 30px;
}

/* ------------------- FOOTER -------------------- */
.footer-wrapper {
  padding: 0 20px;
  flex-direction: row;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--darkgray);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 0 30px;
  }
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
}

.footer-block a {
  padding: 8px 0;
  color: var(--black);
  text-decoration: none;
}

.footer-block a:hover {
  text-decoration: underline;
}
