/* ------------------- BASE -------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
}

h3 {
  margin: 0;
}

/* ------------ UTILITIES --------- */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.big-icon {
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

/* Si l'ecran est supérieur à (768px) on applique ceci */
@media (min-width: 768px) {
  .col-25 {
    width: 25%;
  }
}

/* ------------------- COLORS VARIABLES -------------------- */
:root {
  --lightgray: #f2f2f2;
  --darkgray: #dddddd;
  --shadow: #b3b3b3;
  --darkblue: #0065fc;
  --lightblue: #deebff;
  --black: #000;
  --white: #fff;
}

/* ------------------- LAYOUT -------------------- */
section,
header {
  max-width: 1600px;
  margin: 0 auto;
}

section,
footer {
  padding: 20px 20px;
}

body > footer {
  padding-bottom: 60px;
  background-color: var(--darkgray);
}

/* ------------------- NAVBAR -------------------- */
nav.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--lightgray);
}

@media (min-width: 768px) {
  .navbar-wrapper {
    align-items: center;
    width: 100%;
    max-width: 1600px;
  }
}

nav .website-logo img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  nav .website-logo img {
    margin: 0;
  }
}

nav .nav-buttons {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  nav .nav-buttons {
    width: auto;
  }
}

nav .button-one {
  border-bottom: 3px var(--darkgray) solid;
  text-align: center;
  padding: 40px 0 10px 0;
}

@media (min-width: 768px) {
  nav .button-one {
    border-bottom: none;
    border-top: 3px transparent solid;
    padding: 40px 30px;
  }
}

nav .button-two {
  border-bottom: 3px #dddddd solid;
  text-align: center;
  padding: 40px 0 10px 0;
}

@media (min-width: 768px) {
  nav .button-two {
    border-bottom: none;
    border-top: 3px transparent solid;
    padding: 40px 30px;
  }
}

nav .button-one:hover {
  transition: all 0.3s ease-in;
  color: var(--darkblue);
  border-color: var(--darkblue);
}

nav .button-two:hover {
  transition: all 0.3s ease-in;
  color: var(--darkblue);
  border-color: var(--darkblue);
}

nav .nav-buttons a {
  color: var(--black);
  text-decoration: none;
}

/* ------------------- HEADER -------------------- */
header .header-wrapper {
  background-color: var(--lightgray);
  padding: 20px 30px;
}

/* ------------------- SEARCHBAR -------------------- */
.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 25.5rem;
  max-height: 10rem;
  border-radius: 1rem;
}

.marker-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 0.1rem var(--darkgray) solid;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--darkgray);
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  border-top: var(--darkgray) 0.1rem solid;
  border-bottom: var(--darkgray) 0.1rem solid;
  background-color: var(--lightgray);
}

.search-input {
  height: 1.5rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

input[type='search' i] {
  background: transparent;
  border: none;
  width: 80%;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: var(--darkblue);
  border: var(--darkblue) 0.1rem solid;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search-button {
  padding: 0 20px;
  color: var(--lightgray);
}

@media (min-width: 768px) {
  .hidden {
    display: block;
  }
}

.fa-search {
  padding: 0 10px;
}

@media (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

/* ------------------- FILTERS -------------------- */
.filters-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 0;
}

@media (min-width: 768px) {
  .filters-wrapper {
    flex-direction: row;
  }
}

.filters-wrapper .filter-tag {
  display: flex;
  align-items: center;
}

.filters-wrapper .filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .filters-wrapper .filters {
    flex-wrap: nowrap;
  }
}

.filters-wrapper .filter-tag {
  padding: 20px 60px 20px 0;
}

.filters-wrapper .filtersbox {
  display: flex;
  align-items: center;

  border: var(--darkgray) 0.1rem solid;
  border-left: var(--lightblue);
  border-radius: 3rem;
  height: 3rem;
  padding: 20px 0;
}

.filtersbox:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--lightblue);
  border-color: var(--lightblue);
  transition: all 200ms ease-in;
}

.filters-wrapper .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  background-color: var(--lightblue);
  color: var(--darkblue);
}

.filters-wrapper .filtersbox .textbox {
  padding: 0 20px 0 10px;
  font-weight: bold;
}

/* ------------------- INFO BAR -------------------- */
.info-wrapper {
  background-color: var(--lightgray);
  display: flex;
  gap: 10px;
  align-items: center;
}

.info-wrapper .info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border: var(--darkgray) 0.1rem solid;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 2rem;
  color: var(--darkblue);
}

/* ------------------- HOUSING WRAPPER -------------------- */
.housing-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 50px;
}

@media (min-width: 768px) {
  .housing-wrapper {
    flex-wrap: nowrap;
  }
}

/* ------------------- STARS -------------------- */
.checked-star {
  color: var(--darkblue);
}

.unchecked-star {
  color: var(--darkgray);
  font-weight: 900;
}

/* ------------------- CARDS -------------------- */
.card {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: var(--lightgray) 0.3rem solid;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--shadow);
}

.card:hover {
  cursor: pointer;
  transition: all 200ms ease-in;
  transform: scale(1.02);
  box-shadow: 0px 0px 30px var(--shadow);
}

.card.horizontal {
  flex-direction: row;
  height: 8.8rem;
  width: 100%;
}

.card .card-image {
  height: 120px;
}

.card.grow .card-image {
  height: 156px;
}

.card .card-image img {
  object-fit: cover;
  object-position: 100% 50%;
  width: 100%;
  height: 100%;
}

.card.horizontal .card-image {
  height: 100%;
  width: 33%;
  min-width: 33%;
}

.card .card-text {
  display: flex;
 flex-direction: column;
 padding: 0 10px 10px 10px;
}

.card.horizontal .card-text {
display: flex;
flex-direction: column;
padding-left: 10px;
}

.card .card-price {
  margin: 0;
  padding: 0 0 10px 0;
}

.card.horizontal .card-price {
  flex-grow: 1;
}

.card .card-name {
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
}

@media (min-width: 768px) {
  .card.tall .card-image {
    height: 390px;
  }
}

/* ------------------- CONTENT BOX -------------------- */
.content-box {
  background-color: var(--darkgray);
  border: var(--darkgray) 1px solid;
  border-radius: 30px;
  padding: 30px;
}

.cards-wrapper {
  padding: 20px 0;
}

/* ------------------- LEFT BLOCK -------------------- */
.cards-wrapper.left {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.cards-wrapper.left .card {
  width: 100%;
}

/* 3 cards per lines */
@media (min-width: 768px) {
  .cards-wrapper.left .card {
    width: 27%;
  }
}

@media (min-width: 768px) {
  .left-block {
    min-width: 600px;
  }
}

.more a {
  padding: 8px 0;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

.more a:hover {
  text-decoration: underline;
}

/* ------------------- RIGHT BLOCK -------------------- */
.cards-wrapper.right {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.right-block {
  display: flex;
  flex-shrink: 3;
  flex-direction: column;
}

@media (min-width: 768px) {
  .right-block {
    min-width: 350px;
  }
}

.right-block-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* ------------------- BOTTOM BLOCK -------------------- */
.bottom-block-wrapper {
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--lightgray);
}

@media (min-width: 768px) {
  .bottom-block-wrapper {
    flex-direction: row;
  }
}

.bottom-block-wrapper {
  gap: 20px;
}

.w-full {
  gap: 20px;
}

/* ------------------- FOOTER -------------------- */
.footer-wrapper {
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--darkgray);
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
  }
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
}

.footer-block a {
  padding: 8px 0;
  color: var(--black);
  text-decoration: none;
}

.footer-block a:hover {
  text-decoration: underline;
}
